/* basic elements */
@import url(../_fonts/brushstroke/stylesheet.css);
@import url(../_fonts/topsecret/stylesheet.css);
@import url(../_fonts/hominis/stylesheet.css);


body { 
	font: 11px/15px georgia, serif;
	text-align: center;
	margin: 0px;

	background-color: #a64f1c;

	font-family: 'webfontregular', serif;
	}

.ContactInfo {
	width: 700px;
	margin: auto;
}


.ContactInfo h1 {
	font-family: 'top_secretbold';
	font-size: 60px;
	color: #fff;
}

.ContactInfo p{
	font-family: 'helvetica';
	font-size: 20px;
	color: #ffb30f;
	text-align: left;
	line-height: 25px;

}
#BBQ-wrapper {
	
	background-image: url('darkwood-plankFlooring.jpg');
    background-repeat: repeat;
    background-color: #a64f1c;
}

h1 {
	font-family: 'top_secretbold';
	font-size: 60px;
	color: #af5408; 
}

nav {
	background-color: rgba(0,0,0,0.3);
	box-shadow: -2px 5px 5px 5px #000000;
	height: 60px;
	width: 390px;
	margin-left: auto;
	margin-right: auto;

	border-radius: 15px 0px 15px 0px;

	/*height: 100px;*/
	width: 900px;
	margin: auto;
	margin-top: 20px;
	padding-top: 25px;

	font-family: 'webfontregular', serif;
    font-size: 40px;

    display: inline-block;
    color: #ffb30f;
}
#loginInfo {
	background-color: rgba(0,0,0,0.3);
	box-shadow: -2px 5px 5px 5px #000000;
	height: 400px;
	width: 390px;
	margin-left: auto;
	margin-right: auto;

	border-radius: 15px 0px 15px 0px;

	/*height: 100px;*/
	width: 400px;
	margin: auto;
	margin-top: 20px;
	padding-top: 25px;

}

nav a{
	color: #ffb30f; 
}



#usIntro {
	background-color: rgba(0,0,0,0.3);
	box-shadow: -2px 5px 5px 5px #000000;
	height: 580px;
	width: 410px;
	margin-left: auto;
	margin-right: auto;

	padding-top: 15px;
}
#search {
	display: inline-block;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	margin: auto;
}

#midLogo {
    text-align: center;

}
.inset {
	width:90%;
	max-width:1000px;
	margin:0px auto;
	padding:25px 0px;
}
#button {
	width:90%;
	max-width:1000px;
	margin:0px auto;
	padding:25px 25px;
	/*font-size: 50px;*/

}

#glyphicon{
	font-size: 20px;
}

#slideshow {
	background-color: rgba(0,0,0,0.3);
	box-shadow: -2px 5px 5px 5px #000000;
	height: 600px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#carousel-example-generic{
width: 960px;
margin-left: -30px;

}

#formInfo {
	text-align: center;
}


form.contact { 
	width:500px;
	margin-left:auto;
	margin-right:auto;

	background-color: rgba(0,0,0,0.3);
	box-shadow: -2px 5px 5px 5px #000000;
	height: 300px;
	width: 500px;

	padding-top: 75px;
	padding-left: 20px;
	padding-right: 20px;
	

}










